{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Sala {{ sala.nombre }}</title>

    {# ▸ Carga la hoja de estilos externa #}
    <link rel="stylesheet" href="{% static 'styles/sala.css' %}" />

    rel="stylesheet" />
  </head>

  <body>
    <nav id="sidebar">
      <div class="logo"></div>

      <ul>
        {% for s in salas %}
        <li class="room">
          Sala {{ loop.index }}
          <ul>
            {% for m in s.mesas %}
           
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>

    </nav>

    <main>
      <h1>SALA {{ sala.nombre }}</h1>

      <div class="grid">
        {% for mesa in sala.mesas %}
        {% endfor %}
      </div>
    </main>
  </body>
</html>
